{
    "extends": ["react-app"],
    "plugins": ["prettier"],
    "rules": {
        "semi": [2, "always"],
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true
            }
        ]
    }
}
